#formContainer {
  width: 100%;
  height: 85vh;
  display: flex;
  justify-content: center;
}

#formImg {
  width: 120rem;
  margin-left: -40rem;
}

#mainForm {
  width: 35rem;
  margin-left: -25rem;
  margin-top: 7vh;
}

#formHeader {
  height: 25vh;
  width: 35rem;
  border-radius: 4rem;
  background-color: navy;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  padding-top: 1rem;
}

#formHeaderTitleBox {
  height: 12vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;
}

#formTrabalhe {
  font-size: 3.5vh;
  line-height: 3.5vh;
  color: green;
  font-weight: 600;
  letter-spacing: 0.5rem;
}

#formConosco {
  font-size: 7vh;
  line-height: 7vh;
  font-weight: 600;
  color: white;
}

#formInputsBox {
  margin-top: -10vh;

  display: flex;
  flex-direction: column;
  gap: 2vh;
}

.formInput {
  width: 32.5rem;
  height: 10vh;
  border-radius: 10vh;
  border: 2px solid green;
  font-size: 1.2rem;
  padding-left: 2rem;
  z-index: 6;
}

::placeholder {
  color: green;
  opacity: 1;
}

#formButton {
  padding-right: 2rem;
  width: 35rem;
  background-color: green;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 2.5vh;
}

@media only screen and (max-width: 1600px) {
  #formContainer {
    width: 100%;
    height: 75vh;
    display: flex;
    justify-content: center;
    gap:6.5rem;
  }

  #formImg {
    width: 80rem;
    margin-left: -19.5rem;
  }

  #mainForm {
    width: 30rem;
  }

  #formHeader {
    height: 23vh;
    width: 25rem;
    border-radius: 2.1rem;
  }

  #formTrabalhe {
    font-size: 3.8vh;
  }

  #formConosco {
    font-size: 9vh;
  }

  #formInputsBox {
    margin-top: -8vh;
  }

  .formInput {
    width: 22.7rem;
    height: 10.8vh;
  }

  #formButton {
    width: 24.7rem;
    font-size: 2.5vh;
  }
}

@media only screen and (max-width: 1367px) {
  #formContainer {
    height: 75vh;
  }

  #formImg {
    width: 70rem;
    margin-left: -17rem;
  }

  #mainForm {
    width: 25rem;
    margin-left: -20rem;
  }

  #formHeader {
    height: 24vh;
    width: 22.5rem;
    border-radius: 1.5rem;
  }

  .formInput {
    width: 20.2rem;
    height: 11vh;
    font-size: 1.2rem;
  }

  #formButton {
    width: 22.5rem;
  }
}

@media only screen and (max-width: 1004px) {
  #formImgBox {
    display: none;
  }
  #mainForm {
    margin: 0;
  }
}
