#containerUnidadesProvix {
  width: 100%;
  display: flex;
  justify-content: center;
  margin-top: -38rem;
  text-align: -webkit-center;
}
#unidadesProvix {
  width: 37vh;
}

#mobileUnidadesProvix {
  display: none;
}
#mobileConhecaSedes {
  display: none;
}

#containerFundoAzul {
  width: 100%;
  min-height: 50rem;
}
#fundoAzul {
  width: 100%;
}

.conteudoContato {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  margin-top: 5rem; 
}

.containerFotoDeposito1 {
  width: 72rem;
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  border-radius: 4rem 4rem 0rem 0rem;
  overflow: hidden;
}
.containerFotoDeposito2 {
  width: 72rem;
  display: flex;
  flex-direction: row-reverse;
  align-items: flex-start;
  justify-content: space-between;
  border-radius: 4rem 4rem 0rem 0rem;
  overflow: hidden;
}

#ImgDeposito {
  width: 65rem;
  height: 43rem;
}

.formaVerde {
  background-color: #06942d;
  height: 20rem;
  width: 6rem;
}

.containerMaps {
  width: 24rem;
}

#map1 {
  margin-top: -26rem;
  width: 24rem;
  height: 24rem;
  border-radius: 4rem 0rem 4rem 0rem;
  box-shadow: 5px 8px 15px 2px #8A8A8A;
  overflow: hidden;
}
#map2 {
  margin-top: -15rem;
  width: 24rem;
  height: 24rem;
  border-radius: 0rem 4rem 0rem 4rem;
  box-shadow: 5px 8px 15px 2px #8A8A8A;
  overflow: hidden;
}

.ContatoEndereco1 {
  width: 72rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.ContatoEndereco2 {
  width: 72rem;
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
  justify-content: space-between;
}

#ContatoEnderecoTextos1 {
  width: 40rem;
  display: flex;
  flex-direction: column;
  overflow: visible;
  text-align: start;
}
#ContatoEnderecoTextos2 {
  width: 40rem;
  display: flex;
  flex-direction: column;
  overflow: visible;
  text-align: end;
}

#endIracema {
  color: #111182;
  font-size: 3rem;
}
#endIracema2 {
  color: #111182;
  font-size: 2.5rem;
}

#endBR116 {
  color: #06942d;
  font-size: 2rem;
}

#Contatodivider {
  margin: 10rem auto;
  width: 40%;
  height: 0.5rem;
  border-radius: 1rem;
  margin-top: 10rem;
  background-color: green;
}

@media only screen and (max-width: 1367px) {
  #containerUnidadesProvix {
    margin-top: -38rem;
    
    display:flex;
    flex-direction: column;
    align-items: center;
    text-align: -webkit-center;
  }

  #unidadesProvix {
    width: 25vh;
  }

  .conteudoContato {
  }

  .containerFotoDeposito1 {
    width: 50rem;
    height: 35rem;
  }
  .containerFotoDeposito2 {
    width: 50rem;
    height: 35rem;
  }

  #ImgDeposito {
    width: 44rem;
    height: 26rem
  }

  .formaVerde {
    width: 5rem;
    height: 15rem;
  }

  .ContatoEndereco1 {
    width: 50rem;
    height: 8rem;
    margin-top: -10rem;
  }
  .ContatoEndereco2 {
    width: 50rem;
    height: 8rem;
    margin-top: -10rem;
  }

  #map1 {
    margin-top: -9rem;
    width: 23rem;
    height: 18rem;
  }
  #map2 {
    margin-top: -9rem;
    width: 23rem;
    height: 18rem;
  }

  #endIracema {
    font-size: 2.2rem;
  }
  #endIracema2 {
    font-size: 2rem;
  }

  #endBR116 {
    font-size: 1.6rem;
  }
}

@media only screen and (max-width: 1188px) {
  #containerUnidadesProvix {
    flex-direction: column;
    align-items: center;
    
    display:flex;
    flex-direction: column;
    align-items: center;
    text-align: -webkit-center;
  }

  #unidadesProvix {
    display: none;
  }

  #mobileUnidadesProvix {
    display: flex;
    font-size: 3rem;
    font-weight: 600;
    color: #fff;
  }

  #mobileConhecaSedes {
    display: flex;
    font-size: 1rem;
    font-weight: 600;
    background: green;
    color: #fff;
    padding: 0.2rem 0.5rem;
    border-radius: 1rem;
  }
}

@media only screen and (max-width: 900px) {
  .conteudoContato {
    width: 100%;
  }
  #mobileUnidadesProvix{
    margin-top:10%;
    color: gray;
  }
  #mobileConhecaSedes{
    color: lightgray;
  }
  .containerFotoDeposito1 {
    width: 100%;
    height: 25rem;
    place-content: center;
    border-radius: 0;
  }
  #ImgDeposito {
    width: 90%;
    border-radius: 1rem;
  }
  .formaVerde {
    display: none;
  }

  .ContatoEndereco1 {
    flex-direction: column;
    width: 100%;
    height: 21rem;
    margin: 0;
    align-items: end;
    margin-right: 10%;
  }
  .ContatoEndereco2 {
    flex-direction: column;
    width: 100%;
    height: 21rem;
    margin: 0;
    align-items: start;
  }
  #ContatoEnderecoTextos1 {
    width: 100%;
    margin: 0;
  }
  #ContatoEnderecoTextos2 {
    width: 100%;
    margin: 0;
  }
  #map1 {
    margin: 0;
    width: 90%;
    height: 17rem;
  }
  #map2{
    margin-bottom: 0%;
    margin-left: 5%;
  }
  #endIracema {
    font-size: 1.7rem;
    padding: 0% 0% 0% 10%;
  }
  #endIracema2 {
    font-size: 1.7rem;
    padding: 0% 5% 0% 0%;
  }
  #endBR116 {
    font-size: 1.3rem;
    padding: 0% 5% 0% 10%;
  }

  .containerUnidadesProvix{
    text-align: -webkit-center;
  }
}
@media only screen and (max-width: 600px) {
  .conteudoContato {
    width: 100%;
  }
  #mobileUnidadesProvix{
    margin-top:10%;
    color: gray;
  }
  #mobileConhecaSedes{
    color: lightgray;
  }
  .containerFotoDeposito1 {
    width: 100%;
    height: 15rem;
  }
  .containerFotoDeposito2 {
    width: 100%;
    height: 15rem;
  }
  #ImgDeposito {
    width: 90%;
  }
  .formaVerde {
    display: none;
  }

  .ContatoEndereco1 {
    flex-direction: column;
    width: 90%;
    height: 21rem;
    margin: 0;
  }
  .ContatoEndereco2 {
    flex-direction: column;
    width: 100%;
    height: 21rem;
    margin: 0;
  }
  #ContatoEnderecoTextos1 {
    width: 100%;
    margin: 0;
  }
  #ContatoEnderecoTextos2 {
    width: 100%;
    margin: 0;
  }
  #map1 {
    margin: 0;
    width: 100%;
    height: 17rem;
  }
  #map2{
    margin-bottom: -5%;
  }
  #endIracema {
    font-size: 1.2rem;
    padding: 0% 0% 0% 1%;
  }
  #endIracema2 {
    font-size: 1.2rem;
    padding: 0% 1% 0% 0%;
  }
  #endBR116 {
    font-size: 0.8rem;
    padding: 0% 1% 0% 1%;
  }

  .containerUnidadesProvix{
    text-align: -webkit-center;
  }
}
