.footer {
  width: 100%;
  position:absolute;
  bottom:0;
  padding-bottom: 12vh;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  font-family: 'proxima-nova', sans-serif;
}

.containerFooter{
  position:relative;
}

.LinhaSocial{
  display:flex;
  justify-content:space-between;
  align-items: center;
  gap:0.3rem;
}

#iconesSociais{
  height:1rem;
}

#logoFooter {
  height: 4.5rem;
}

.colunaFooter{
  display:flex;
  gap: 1.5rem;
  flex-direction: column;
  align-self: start;
}

#fundo {
  width: 100%;
}

.colunaFooter span{
  color: #04942c;
  font-size: 1.1rem;
  font-weight: 700;
}

.footerlink {
  text-decoration: none;
  font-size: 1rem;
  color: #fff;
  font-weight: 500;
}

.footerlink:hover {
  color: #c4c4c4;
}

@media only screen and (max-width: 1367px) {

}

@media only screen and (max-width: 1004px) {
  .footer{
    display:flex;
    flex-direction: column;
    background-color: #111182;
    justify-content: center;
    gap: 2rem;
  }
  .containerFooter{
    margin-top: 80%;
  }
  .fundo{
    display: none;
  }
  .colunaFooter{
    display:flex;
    gap: 1.5rem;
    flex-direction: column;
    align-self: center;
    align-items: center;
  }

  #logoFooter{
    margin-top:10%;
  }
}

@media only screen and (max-width: 850px) {
  .footer{
    display:flex;
    flex-direction: column;
    background-color: #111182;
    justify-content: center;
    gap: 2rem;
  }
  .containerFooter{
    margin-top: 95%;
  }
  .fundo{
    display: none;
  }
  .colunaFooter{
    display:flex;
    gap: 1.5rem;
    flex-direction: column;
    align-self: center;
    align-items: center;
  }

  #logoFooter{
    margin-top:10%;
  }
}

@media only screen and (max-width: 600px) {
  .footer{
    display:flex;
    flex-direction: column;
    background-color: #111182;
    justify-content: center;
    gap: 2rem;
  }
  .containerFooter{
    margin-top: 152%;
  }
  .fundo{
    display: none;
  }
  .colunaFooter{
    display:flex;
    gap: 1.5rem;
    flex-direction: column;
    align-self: center;
    align-items: center;
  }

  #logoFooter{
    margin-top:10%;
  }
}