#fundoAzul{
    width:100%;
}

#mobileUnidadesProvix {
    display: none;
  }
  #mobileConhecaSedes {
    display: none;
  }

.AreasDeAtuacao{
    margin-top: 11%;
    margin-bottom: -18%;
}

#Xbranco{
    width: 70%;
    position:relative;
}

#nossasAreas{
    width:17%;
    position:absolute;
    margin-top: -46.5%;
    margin-left: 20%;
}

#caminhao{
    width:47%;
    position:absolute;
    margin-top: -33%;
    margin-left:  10%;
}

.carrosselAreas{
    position:absolute;
    margin-top: -47%;
    margin-left:  43%;
}

.NossosParceiros2{
    width:17rem;
    position:absolute;
    top: 25%;
    left:39.1%;
}
.NossosParceiros3{
    position:absolute;
    width: 100%;
    top: 15%;
    display:flex;
    flex-direction: column;
    align-items: center;
    text-align: -webkit-center;
}

.ConhecaOTime{
    display:flex;
    margin-bottom: 10%;
    padding-top: 10%;
}

#vetorVerde{
    margin-top: 3.5%;
    height: 26rem;
}

#fotoEquipe{
    height: 39rem;
    margin-left: -3%;
}

.painelValores{
    padding-top: 5%;
}

#listraVerde{
    height: 28.5rem;
}

.divListra{
    display:flex;
    justify-content: end;
    overflow: hidden;
}

.divListra > img {
    height: 90rem;
    margin-right: -16%;
}

.valoresETC{
    margin-top: -12%;
    width:100%;
    display: flex;
    justify-content: center;
    gap: 4rem;
}
.itemContainer{
    width: 20rem;
    position: relative;
}

.itemValorETC{
    width:100%;
}
.texto-ativo {
    margin-top: 10%;
    position: absolute;
    top: 0;
    text-align: justify;
    font-size: 1rem;
    font-weight: bold;
    color: white;
    opacity: 0;
    transition: opacity 0.2s ease-in-out;
    width: 18rem;
    word-break: break-all;
    padding: 2rem 0rem 2rem 1rem;
}
 
.texto-ativo:last-child {
    font-size: 1.15rem;
    padding: 0rem 0rem 2rem 1rem;
}

.itemContainer:hover .itemValorETC {
    filter: brightness(0.5);
  }
  
  .itemContainer:hover .texto-ativo {
    opacity: 1;
  }

  
.containerCarrosselNovo{
    width: 100%;

    display: flex;
    flex-direction: column;
    align-items: center;
}

#SCarTitle {
    width: 28rem;
    height: 5rem;
    background-color: #07942d;
    color: white;
  
    font-size: 3.5rem;
    font-weight: 600;
    display: flex;
    align-items: end;
    justify-content: center;
  
    border-radius: 2rem 2rem 0rem 0rem;
  }

img {
    user-select: none;
    -webkit-user-drag: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
  }

  @media only screen and (max-width: 1367px) {

  }
  
  @media only screen and (max-width: 1004px) {
    
    .NossosParceiros2 {
        display: none;
    }
    #mobileUnidadesProvix{
        margin-top:10%;
        color: gray;
    }
    #mobileConhecaSedes{
        color: lightgray;
    }
    .ConhecaOTime{
        width:100%;
        display:flex;
        flex-direction: column;
        margin-bottom:30%;
    }
    .containerCarrosselNovo{
        margin-top: 0%;
        margin-bottom: 0%;
    }
    #SCarTitle {
        width: 13rem;
        height: 2.5rem;
        color: white;
      
        font-size: 1.5rem;
        font-weight: 600;
        display: flex;
        align-items: center;
        justify-content: center;
      
        border-radius: 1rem 1rem 0rem 0rem;
    }
    .carrosselAreas{
        position:absolute;
        margin-top: -55%;
        margin-left:  43%;
    }
    .containerCarrosselNovo{
        width: 100%;
        margin-top: -40%;
        margin-bottom: 30%;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .divListra {
        display:none;
    }
    .AreasDeAtuacao{
        margin-top: 30%;
        margin-bottom: 20%;
    }
    
    #Xbranco{
        width: 80%;
        position:static;
    }
    
    #nossasAreas{
        width:17%;
        position:static;
        margin-bottom: 40%;
    }
    
    #caminhao{
        margin-top:-40%;
        width:47%;
    }
    .ConhecaOTime{
        width:100%;
        display:flex;
        flex-direction: column;
    }

    #fotoEquipe{
        margin:0;
    }
    
    #vetorVerde{
        margin-bottom: -50.5%;
        width: 100%;
        height: 38rem;
    }
  }
  @media only screen and (max-width: 850px) {
    .NossosParceiros3{
        margin-top:10%;
    }
    .valoresETC{
        margin-top: -12%;
        width:100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 4rem;
    }

    .itemValorETC{
        width:100%;
    }

    .texto-ativo {
        position: absolute;
        text-align: justify;
        font-size: 1rem;
        font-weight: bold;
        color: white;
        opacity: 0;
        transition: opacity 0.2s ease-in-out;
        width: 18rem;
        word-wrap: break-word;
        padding: 2rem 0rem 2rem 1rem;
    
    }

    .ConhecaOTime{
        width:100%;
        display:flex;
        flex-direction: column;
        align-items: center;
    }

    #fotoEquipe{
        margin:0;
        width: 90%;
    }
    
    #vetorVerde{
        margin-bottom: -20.5%;
        width: 100%;
        height: 37rem;
    }
    #SCarTitle {
        width: 15rem;
        height: 4rem;
        color: white;
      
        font-size: 1.9rem;
        font-weight: 600;
        display: flex;
        align-items: center;
        justify-content: center;
      
        border-radius: 1rem 1rem 0rem 0rem;
    }
    .NossosParceiros2{
        display:none;
    }
    .carrosselAreas{
        position:absolute;
        margin-top: -47%;
        margin-left:  43%;
    }
    .containerCarrosselNovo{
        width: 100%;
        margin-top: -20%;
        margin-bottom: 30%;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .divListra {
        display:none;
    }
    .AreasDeAtuacao{
        margin-top: 50%;
        margin-bottom: 30%;
    }
    
    #Xbranco{
        width: 80%;
        position:static;
    }
    
    #nossasAreas{
        width:27%;
        margin-left: 5%;
        position:static;
        margin-bottom: 50%;
    }
    
    #caminhao{
        width:47%;
        display:none;
    }
    
    .carrosselAreas{
        display:flex;
        align-items:center;
        position:static;
        margin-left:35%;
        margin-top:-75%;
    }
  }
  
  @media only screen and (max-width: 600px) {
    .NossosParceiros3{
        margin-top:0%;
    }
    .valoresETC{
        margin-top: -12%;
        width:100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 4rem;
    }

    .itemValorETC{
        width:100%;
    }

    .ConhecaOTime{
        width:100%;
        display:flex;
        flex-direction: column;
        align-items: center;
    }

    #fotoEquipe{
        margin:0;
        width: 90%;
    }
    
    #vetorVerde{
        margin-bottom: -50.5%;
        width: 100%;
        height: 22rem;
    }
    #SCarTitle {
        width: 10rem;
        height: 3rem;
        color: white;
      
        font-size: 1.3rem;
        font-weight: 600;
        display: flex;
        align-items: center;
        justify-content: center;
      
        border-radius: 1rem 1rem 0rem 0rem;
      }
      .NossosParceiros2{
        display:none;
    }
    .carrosselAreas{
        position:absolute;
        margin-top: -47%;
        margin-left:  43%;
    }
    .containerCarrosselNovo{
        width: 100%;
        margin-top: -40%;
        margin-bottom: 30%;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .divListra {
        display:none;
    }
    .AreasDeAtuacao{
        margin-top: 110%;
        margin-bottom: 30%;
    }
    
    #Xbranco{
        width: 80%;
        position:static;
    }
    
    #nossasAreas{
        width:27%;
        margin-left: 5%;
        position:static;
        margin-bottom: 40%;
    }
    
    #caminhao{
        width:47%;
        display:none;
    }
    
    .carrosselAreas{
        display:flex;
        align-items:center;
        position:static;
        margin-left:35%;
        margin-top:-75%;
    }
  }

  @media only screen and (min-width: 1900px) {

    .ConhecaOTime{
        display:flex;
        margin-bottom: 10%;
        padding-top: 10%;
    }
    
    #vetorVerde{
        margin-top: 3.5%;
        height: 35rem;
    }
    
    #fotoEquipe{
        height: 47rem;
        margin-left: -3%;
    }
    
    .NossosParceiros2{
        width:20rem;
        position:absolute;
        top: 25%;
        left:42.1%;
    }
  }